.container {
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--light);
}
.taskContainer {
  display: flex;
  flex-direction: column;
  padding: var(--padding-small);
  gap: 10px;
  overflow: scroll;
  height: 100%;
}
