.container {
  display: flex;
  align-items: center;
  background: var(--color_bg_light);
  height: 50px;
  border-radius: 25px;
  /* margin: 0 var(--padding-base); */
}
.input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 1.4rem;
  padding-right: 25px;
}
.icon {
  display: flex;
  color: var(--font-light);
  font-size: 1.5rem;
  margin: 0 10px 0 35px;
}
