:root {
  --light: #fff;
  --dark: #1a1a1a;
  --red: #ff2765;
  --green: #48ce00;
  --blue: #4196ea;
  --color_bg_light: #f4f7fa;

  --font-main: #32315c;
  --font-dark: #1d1d26;
  --font-light: #9f9fb1;

  --padding-base: 25px;
  --padding-small: 15px;

  --border-radius-reg: 8px;

  @font-face {
    font-family: "Avenir";
    src: url("../public/fonts/Avenir-Book.ttf");
    font-weight: normal;
  }
  @font-face {
    font-family: "Avenir";
    src: url("../public/fonts/Avenir-Medium.ttf");
    font-weight: medium;
  }
  @font-face {
    font-family: "Avenir";
    src: url("../public/fonts/Avenir-Black.ttf");
    font-weight: bold;
  }
  @font-face {
    font-family: "Avenir";
    src: url("../public/fonts/Avenir-Heavy.ttf");
    font-weight: bolder;
  }
}

body {
  margin: 0;
  font-family: Avenir, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  font-size: 1rem;
  font-weight: bolder;
}
h2 {
  font-size: 0.8rem;
  font-weight: medium;
  letter-spacing: 0.1rem;
}
p {
  font-family: Avenir;
  font-size: 1.2rem;
  font-weight: normal;
}
input::placeholder {
  font-family: Avenir;
  font-weight: normal;
}
input {
  font-family: Avenir;
  font-weight: normal;
}
