.container {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-base);
}
.icon {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--font-light);
  cursor: pointer;
}

.head {
  color: var(--font-main);
  margin: 0;
  font-size: 1.4rem;
}
